<h1>Rubitter</h1>

<p>やぁ <%= @user.name %> さん、</p>

<p>
  ようこそRubitterへ!
  下のボタンからRubitterを始めよう!
</p>

<%= link_to "スタート!", edit_account_activation_url(@user.activation_token,
                                                        email: @user.email) %>
