<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      このフォームには <%= object.errors.count %>個のエラーが含まれています。
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
